USE [master]
GO
/****** Object:  Database [diplome]    Script Date: 6/23/2023 7:43:48 AM ******/
CREATE DATABASE [diplome]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'diplome', FILENAME = N'E:\Microsoft\SQLServer\MSSQL16.MSSQLSERVER\MSSQL\DATA\diplome.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'diplome_log', FILENAME = N'E:\Microsoft\SQLServer\MSSQL16.MSSQLSERVER\MSSQL\DATA\diplome_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [diplome].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [diplome]
GO
/****** Object:  Table [dbo].[FormsSZV_M]    Script Date: 6/23/2023 7:43:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormsSZV_M](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Year] [int] NULL,
	[Month] [int] NULL,
	[InsurerId] [int] NULL,
	[DateFilling] [date] NULL,
	[WorkersCount] [int] NULL,
 CONSTRAINT [PK_FormsSZV_M] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FormsSZV_M_Stuff]    Script Date: 6/23/2023 7:43:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormsSZV_M_Stuff](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SZV_M_Id] [int] NOT NULL,
	[WorkerId] [int] NOT NULL,
 CONSTRAINT [PK_FormsSZV_M_Stuff] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FormsSZV_TD]    Script Date: 6/23/2023 7:43:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormsSZV_TD](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InsurerID] [int] NULL,
	[Year] [int] NULL,
	[Month] [int] NULL,
	[Annuled] [bit] NULL,
	[AnnulDate] [date] NULL,
	[DateFilling] [date] NULL,
	[WorkersCount] [int] NULL,
 CONSTRAINT [PK_FormsSZV_TD] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FormsSZV_TD_Stuff]    Script Date: 6/23/2023 7:43:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormsSZV_TD_Stuff](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SZV_TD_Id] [int] NULL,
	[WorkerId] [int] NULL,
 CONSTRAINT [PK_FormsSZV_TD_Stuff] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Insurers]    Script Date: 6/23/2023 7:43:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Insurers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[NameShort] [nvarchar](max) NULL,
	[InsuranceNumber] [nvarchar](max) NULL,
	[INN] [bigint] NULL,
	[RegNumber] [bigint] NULL,
 CONSTRAINT [PK_Insurers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profession]    Script Date: 6/23/2023 7:43:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profession](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Profession] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sex]    Script Date: 6/23/2023 7:43:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sex](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Sex] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/23/2023 7:43:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Mail] [nvarchar](50) NULL,
	[IsUsingDarkMode] [bit] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Workers]    Script Date: 6/23/2023 7:43:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[MiddleName] [nvarchar](max) NULL,
	[InsuranceNumber] [bigint] NULL,
	[INN] [bigint] NULL,
	[Sex] [int] NULL,
	[Profession] [int] NULL,
	[IsFired] [bit] NULL,
 CONSTRAINT [PK_Workers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[FormsSZV_M_Stuff]  WITH CHECK ADD  CONSTRAINT [FK_FormsSZV_M_Stuff_FormsSZV_M] FOREIGN KEY([SZV_M_Id])
REFERENCES [dbo].[FormsSZV_M] ([Id])
GO
ALTER TABLE [dbo].[FormsSZV_M_Stuff] CHECK CONSTRAINT [FK_FormsSZV_M_Stuff_FormsSZV_M]
GO
ALTER TABLE [dbo].[FormsSZV_M_Stuff]  WITH CHECK ADD  CONSTRAINT [FK_FormsSZV_M_Stuff_Workers] FOREIGN KEY([WorkerId])
REFERENCES [dbo].[Workers] ([Id])
GO
ALTER TABLE [dbo].[FormsSZV_M_Stuff] CHECK CONSTRAINT [FK_FormsSZV_M_Stuff_Workers]
GO
ALTER TABLE [dbo].[FormsSZV_TD]  WITH CHECK ADD  CONSTRAINT [FK_FormsSZV_TD_Insurers] FOREIGN KEY([InsurerID])
REFERENCES [dbo].[Insurers] ([Id])
GO
ALTER TABLE [dbo].[FormsSZV_TD] CHECK CONSTRAINT [FK_FormsSZV_TD_Insurers]
GO
ALTER TABLE [dbo].[FormsSZV_TD_Stuff]  WITH CHECK ADD  CONSTRAINT [FK_FormsSZV_TD_Stuff_FormsSZV_TD] FOREIGN KEY([SZV_TD_Id])
REFERENCES [dbo].[FormsSZV_TD] ([Id])
GO
ALTER TABLE [dbo].[FormsSZV_TD_Stuff] CHECK CONSTRAINT [FK_FormsSZV_TD_Stuff_FormsSZV_TD]
GO
ALTER TABLE [dbo].[FormsSZV_TD_Stuff]  WITH CHECK ADD  CONSTRAINT [FK_FormsSZV_TD_Stuff_Workers] FOREIGN KEY([WorkerId])
REFERENCES [dbo].[Workers] ([Id])
GO
ALTER TABLE [dbo].[FormsSZV_TD_Stuff] CHECK CONSTRAINT [FK_FormsSZV_TD_Stuff_Workers]
GO
ALTER TABLE [dbo].[Workers]  WITH CHECK ADD  CONSTRAINT [FK_Workers_Profession] FOREIGN KEY([Profession])
REFERENCES [dbo].[Profession] ([Id])
GO
ALTER TABLE [dbo].[Workers] CHECK CONSTRAINT [FK_Workers_Profession]
GO
ALTER TABLE [dbo].[Workers]  WITH CHECK ADD  CONSTRAINT [FK_Workers_Sex] FOREIGN KEY([Sex])
REFERENCES [dbo].[Sex] ([Id])
GO
ALTER TABLE [dbo].[Workers] CHECK CONSTRAINT [FK_Workers_Sex]
GO
USE [master]
GO
